@import "tailwindcss";

@theme {
  --color-primary: #06b6d4;
  --color-background: #050505;
}

body {
  background-color: var(--color-background);
  color: #fff;
  font-family: system-ui, -apple-system, sans-serif;
}
