@import "tailwindcss";

@theme {
  --color-html: #e34f26;
  --color-css: #1572b6;
  --color-bootstrap: #7952b3;
  --color-tailwind: #38b2ac;
  --color-js: #f7df1e;
  --color-react: #61dafb;
  --color-python: #3776ab;
  --color-cpp: #00599c;
  --color-vercel: #000000;
  --color-email: #e14434;
  --color-whatsapp: #12a50b;
  --color-github: #181717;
  --color-linkedin: #0a66c2;
  --color-home: #f7fcfe;
  --color-card: #f2f9fd;
  --color-1: #c5d1db;
  --color-2: #d8dfe5;
  --color-3: #d8e0d4;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.animate-gradient {
  animation: gradientAnimation 10s ease infinite;
}
