@import "tailwindcss";

@theme {
  --color-html: #e34f26;
  --color-css: #1572b6;
  --color-bootstrap: #7952b3;
  --color-tailwind: #38b2ac;
  --color-js: #f7df1e;
  --color-react: #61dafb;
  --color-python: #3776ab;
  --color-cpp: #00599c;
  --color-vercel: #000000;
  --color-email: #e14434;
  --color-whatsapp: #12a50b;
  --color-github: #181717;
  --color-linkedin: #0a66c2;
  --color-card: #f2f9fd;
  --color-home: #f7fcfe;
  --color-1: #e3dac9;
  --color-2: #ede6d6;

  --color-3: #f2f3f4;
  --color-4: #ffffff;
  --color-5: #dbe9f4;
  --color-6: #f0f8ff;
  --color-7: #f7fcfe;
  --color-8: #f5f5f5;
  --color-9: #ddd6e1;
  --color-10: #f8f4ff;
  --color-11: #f8eeec;

  --color-12: #FFFOF5;
  
  --color-13: #bfd4bf;
  --color-14: #f1f9ec;
  --color-15: #f5fffa;
  --color-16: #e7eae5;
  --color-17: #efdffb;
  --color-18: #f1e9d2;
  --color-19: #FFFAFO;
  --color-20: #fdf5e6;
  --color-21: #f9f8f9;
  --color-22: #f2f3f2;
  --color-23: #ecebec;
  --color-24: #e6e6e4;
}
@import "tailwindcss";
