@import "tailwindcss";

@theme {
  --color-html: #e34f26;
  --color-css: #1572b6;
  --color-bootstrap: #7952b3;
  --color-tailwind: #38b2ac;
  --color-js: #f7df1e;
  --color-react: #61dafb;
  --color-python: #3776ab;
  --color-cpp: #00599c;
  --color-vercel: #000000;
  --color-email: #e14434;
  --color-whatsapp: #12a50b;
  --color-github: #181717;
  --color-linkedin: #0a66c2;
  --color-home: #f5fffa;
  --color-card: #f7fcfe;
}

